@model IEnumerable<ProjectCollaborationSystem.Models.Subtask>

@{
    ViewBag.Title = "DelayedProject";
}

<div class="panel panel-orange">
    <div class="panel-heading">Current Subtasks</div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>

                    <th>Title</th>
                    <th>Date Added</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>

                        <td> @item.SubtaskTitle </td>
                        <td> @item.DateAdded </td>
                        <td> @item.DueDate </td>
                        <td> @item.SubtaskStatus</td>
                        <td> @item.SubtaskPriority </td>
                        <td>@Html.ActionLink("Open", "DisplaySubtask", "Subtask", new { id = @item.SubtaskID }, null)</td>



                    </tr>


                }

            </tbody>
        </table>

    </div>
</div>



