@model ProjectCollaborationSystem.Models.Task_information
@{
    ViewBag.Title = "Projects";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    {

        <div class="col-lg-12">
            <div class="col-md-12">
                <div id="area-chart-spline" style="width: 100%; height: 300px; display: none;">
                </div>
            </div>
        </div>
        <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
            <div class="page-header pull-left">
                <div class="page-title">
                    Tasks
                </div>
            </div>

            <div class="clearfix">
            </div>
        </div>
        <div class="page-content">

            <div class="tabbable">

                <div class="panel panel-orange">


                    <ul class="nav nav-tabs panel-heading" style="font-size:12px;">
                        <li class="active"><a href="#one" data-toggle="tab"><img src="~/Images/delayedTask.ico" style="height:20px;width:20px;" /> Delayed Tasks</a></li>
                        <li><a href="#two" data-toggle="tab"><img src="~/Images/pending.ico" style="height:20px;width:20px;" /> Pending Tasks</a></li>
                        <li><a href="#three" data-toggle="tab"><img src="~/Images/currentTask.ico" style="height:20px;width:20px;" /> Current Tasks</a></li>

                    </ul>
                    <div class="panel-body">

                        <div class="tab-content">
                            <div class="tab-pane active" id="one">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>

                                            <th>Title</th>
                                            <th>Date Added</th>
                                            <th>Due Date</th>
                                            <th>Status</th>
                                            <th>Priority</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.t)
                                        {

                                            <tr>

                                                <td> @item.TaskTitle </td>
                                                <td> @item.DateAdded </td>
                                                <td> @item.DueDate </td>
                                                <td> @item.TaskStatus </td>
                                                <td> @item.TaskPriority </td>
                                                <td>@Html.ActionLink("Open", "DisplayTask", "Task", new { id = @item.TaskID }, null)</td>



                                            </tr>


                                        }

                                    </tbody>
                                </table>
                                <hr />
                                <p style="float:right;">  @Html.ActionLink("View All Delayed Tasks", "DelayedTask", "Task")</p>
                            </div>
                            @*Pending*@

                            <div class="tab-pane" id="two">
                         
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>

                                                <th>Title</th>
                                                <th>Date Added</th>
                                                <th>Due Date</th>
                                                <th>Status</th>
                                                <th>Priority</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.tas)
                            {

                                                <tr>

                                                    <td> @item.TaskTitle </td>
                                                    <td> @item.DateAdded </td>
                                                    <td> @item.DueDate </td>
                                                    <td> @item.TaskStatus </td>
                                                    <td> @item.TaskPriority </td>
                                                    <td>@Html.ActionLink("Open", "DisplayTask", "Task", new { id = @item.TaskID }, null)</td>



                                                </tr>


                            }
                                        </tbody>
                                    </table>
                                    <hr />
                                    <p style="float:right;">  @Html.ActionLink("View All Pending Tasks", "PendingTask", "Task")</p>
                               
                                </div>

                            @*Current*@
                            <div class="tab-pane" id="three">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>

                                            <th>Title</th>
                                            <th>Date Added</th>
                                            <th>Due Date</th>
                                            <th>Status</th>
                                            <th>Priority</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ta)
                            {

                                            <tr>

                                                <td> @item.TaskTitle </td>
                                                <td> @item.DateAdded </td>
                                                <td> @item.DueDate </td>
                                                <td> @item.TaskStatus </td>
                                                <td> @item.TaskPriority </td>
                                                <td>@Html.ActionLink("Open", "DisplayTask", "Task", new { id = @item.TaskID }, null)</td>



                                            </tr>


                            }
                                    </tbody>
                                </table>
                                <hr />
                                <p style="float:right;">  @Html.ActionLink("View All Current Tasks", "CurrentTask", "Task")</p>
                            </div>

                        </div>




                    </div>
                </div>

            </div>

            @*--------------------------------------Subtasks--------------------------------------------------------*@


            @*End content*@
        </div>



    }
}